* {
    margin: 0px;
    padding: 0px;
    font-family: "Tahoma";
}

/* Remove the navbar's default margin-bottom and rounded borders */ 
.navbar {
  margin-bottom: 0;
  border-radius: 0;
}

.carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
  display: none; 
}
}

#top_signup {
    background-image: url("images/background_white_office.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#top_signup iframe {
    margin-top: 45px;
}

#top_signup a {
    margin-top: 500px;
    font: bold 42px Tahoma; 
    background: white; 
    color: #eac100; 
    padding-left: 50px;
    padding-right: 50px;
    border: 1px solid #636363;
}

#text-quote {
    margin-top: 50px;
    margin-bottom: 40px;
    border: 1px solid #b7b7b7;
    color: #545454;
}

#text-quote-decorator{
    margin-top: 10px;
    font-size: 30px;
    font-family: "Franklin Gothic Medium", "Franklin Gothic", "ITC Franklin Gothic", Tahoma, Arial, sans-serif;
    color: #efc500;
    font-weight: bold;
}

#text-quote-start{
    padding: 0px;
    margin-top: 10px;
    margin-bottom: 0px;
    font-size: 20px;
}

#text-quote-end{
    padding: 0px;
    margin-top: 0px;
    font-weight: bold;
    font-size: 20px;
}

#seperator-quote-box {
    height: 1px;
    border: 0;
    border-top: 2px solid #ccc; 
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#grey-box-background {
    background-color: white;
}

#grey-box-main-title {
    font-weight: bold;
    color: #445258;
    font-size: 18px;
}

.grey-box {
    padding: 15px;
    background-color: white;
    border: 1px solid #445258;
    color: #445258;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    box-shadow: 1px 3px 5px #888888;
    min-height: 280px;
}

.grey-box-title h3 {
    font-weight: bold;
    font-size: 28px;
    letter-spacing: -1px;
    line-height: 28px;
    margin-top: 0px;
}

.grey-box-title p {
    line-height: 20px;
    margin-top: 0px;
}

#mid-ad {
    background-image: url("images/background_dark_window.jpg");
    min-height: 500px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#mid-ad-top {
    padding-top: 20px;
    padding-bottom: 200px;
}

.timer_animation {
    
}

#mid-ad h1, #mid-ad h3 {
    color: white;
}

#mid-ad h1 {
    font-weight: bold;
    letter-spacing: 14px;
}

#mid-ad h3 {
    letter-spacing: 1px;
    font-size: 25px;
}

#mid-ad-bot {
    padding-bottom: 15px;
}

#mid-ad p, #mid-ad h2 {
    display: inline;
    color: white;
    font-size: 20px;
}

#mid-ad h2 {
    font-weight: bold;
}

#mid-ad a {
    color: white;
    display: block
}

#feature-details {
    background-image: url("images/background-minimalist.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#feature-details hr {
    padding: 80px;
    border: none;
}

#feature-details div {
    display: block;
}

#bot-signup {
    padding: 35px;
    background-color: #dfdfdf;
}

#bot-signup h2{
    display: inline;
}

#bot-signup-word {
    font-family: "Georgia";
}

#bot-signup a {
    margin-top: 10px;
    display: inline-block;
    font: bold 42px Tahoma; 
    background: #2f2f2f; 
    color: white; 
    padding: 3px;
    width: 220px;
}

#footer-seperator {
    background-image: url("images/footer-seperator.jpg");
    border: 1px solid #505050;
    height: 25px; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-top-link {
    color: white;
    width:100%;
    background-color: #222222;
    min-height: 140px;
    padding: 12px;
    padding-left: 30px;
}

.footer-top-link a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.footer-div-seperator {
    margin-left: 15px;
    margin-right: 19px;
    display: inline;
    border: 1px solid white;
    height:10px;
}

#footer_white_logo {
    margin-bottom: 10px;
}

.copyright_footer{
    color: white;
    bottom:0;
    width:100%;
    background-color: #191919;
    padding: 5px;
    font-size: 11px;
}

#footer-seperator {
    background-image: url("images/footer-seperator.jpg");
    border: 1px solid #505050;
    height: 25px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.footer-top-link {
    color: white;
    width:100%;
    background-color: #222222;
    min-height: 140px;
    padding: 12px;
    padding-left: 30px;
}

.footer-top-link a {
    font-size: 12px;
    padding: 0px;
    margin: 0px;
}

.footer-div-seperator {
    margin-left: 15px;
    margin-right: 19px;
    display: inline;
    border: 1px solid white;
    height:10px;
}

#footer_white_logo {
    margin-bottom: 10px;
}

.copyright_footer{
    color: white;
    bottom:0;
    width:100%;
    background-color: #191919;
    padding: 5px;
    font-size: 11px;
}
