<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style> /* Style are not seperated as this is not a main page */
      * {
          font-family: "Tahoma";
      }
      
      img {
          padding-top: 50px;
      }
      
      h1 {
          font-size: 40px;
      }
      
      #p-up {
          font-size: 20px;
          padding-bottom: 40px;
      }
      
      ul {
          list-style-type: none;
          padding-left: 0;
      }
  </style>
</head>
<body align="center">
    
    <img src="{{ url_for('static', filename = 'images/errlogo.png') }}" alt="error logo" width="200" >
    <h1>Error (4xx)</h1>
    <p id="p-up">We can't find the page you're looking for.</p>
    
    <p>Maybe you could start with these helpful links:</p>
    <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/help-center">Help Center</a></li>
        <li><a href="/signup">Create an Account</a></li>
        <li><a href="/business">Spendboss Business</a></li>
    </ul>
    

</body>
</html>