<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='dashboard-style.css') }}" />
</head>
<body>

<nav class="navbar navbar-inverse visible-xs">
  <div class="container-fluid">
    <div id="mobile-header" class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-th"></span>                      
      </button>
      <a href="#"><img alt="Logo" src="images/imgLogo_min.png" height="37" width="160"/></a>
    </div>
    <div class="collapse navbar-collapse mobile-NavBar" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Dashboard</a></li>
        <li><a href="#">Forecast</a></li>
        <li><a href="#">Data Editor</a></li>
        <li><a href="#">Personal Analytics</a></li>
        <li><button type="button" id="help-feedback-button">Help and feedback</button></li>
      </ul>
    </div>
  </div>
</nav>
    
<div id="login-popup" class="modal">
  <form class="modal-content animate">
    <div>
      <span onclick="document.getElementById('login-popup').style.display='none'" class="close">&times;</span>
      <h1 id="form-login-title">Add Data</h1>
    </div>
    <div id="form-input-area" class="container-fluid">
      <p><img class="add_data_icon" src="images/icon_bank.png" alt="bank icon"> Transfer</p>
      <input type="text" class="form-control" name="email" placeholder="Number of money" required>
    <div>
      <label id="form-checkbox"><input type="checkbox" checked="checked"> Send it now</label>
      <a href="#" id="form-login-button" class="btn btn-warning" role="button">Save</a>
    </div>
      <span><a href="#">Help! How to use?</a></span>
    </div>
  </form>
</div>

<div id="main-container" class="container">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <a href="#"><img id="main-logo" alt="Logo" src="{{ url_for('static', filename='images/imgLogo_min.png') }}" height="48" width="205" border="0"/></a>
      <ul id="nav-pill-container" class="nav nav-pills nav-stacked">
        <li class="active"><a id="side-bar" href="#tab1" data-toggle="tab"><span class="glyphicon glyphicon-list-alt"></span> Dashboard</a></li>
        <li><a id="side-bar" href="#tab2" data-toggle="tab"><span class="glyphicon glyphicon-stats"></span> Detailed Account</a></li>
        <li><button type="button" id="help-feedback-button">Help and feedback</button></li>
      </ul>
      <ul id="nav-footer">
          <li><a href="#">privacy</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-option-horizontal"></span></a></li>
      </ul>
    </div>
    <br>
    
    <div class="col-sm-9">
    <div id="account-name" class="dropdown">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        {{ name }}
        <span class="caret"></span>
      </button>
      <ul id="account-dropdown" class="dropdown-menu">
        <li><a class="btn-disabled">{{ email }}</a></li>
        <li class="dropdown-header">Bank Personal</li>
        <li role="separator" class="divider"></li>
        <li><a href="#">Upgrade</a></li>
        <li><a href="/">Log out</a></li>
      </ul>
    </div>
    
      <div id="main-bar">
        <br><br><br><br><br>
        <p>Your balance is good</p>
        <div id="main-actionbar">
            <a href="#" onclick="document.getElementById('login-popup').style.display='block'"><span class="glyphicon glyphicon-plus"></span> Transfer Money</a>
        </div>
      </div><br>
      
      <div class="row">
        <div class="col-xs-6 col-md-3">
          <div class="well">
            <h4 id="main-var-title">Bank Balance</h4>
            <p>£ 4,130.43</p>
          </div>
        </div>
      </div>
        
    </div>
  </div>
</div>

<script src="{{ url_for('static', filename='navbar-script.js') }}"></script>

</body>
</html>
