<div id="footer_body">

    <div id="footer-seperator"></div>

    <div class="container-fluid footer-top-link text-center">
      <br><br>
      <a class="footer-top-link" href="/testimonial">TESTIMONIALS</a>
        <div class="footer-div-seperator"></div>
      <a class="footer-top-link" href="/our-team">OUR TEAM</a>
        <div class="footer-div-seperator"></div>
      <a class="footer-top-link" href="/ask-questions">FAQ</a>
        <div class="footer-div-seperator"></div>
      <a class="footer-top-link" href="/termsanduse">TERMS OF USE</a>
        <div class="footer-div-seperator"></div>
      <a class="footer-top-link" href="/privacypolicy">PRIVACY POLICY</a>
    </div>

    <footer class="container-fluid text-center copyright_footer">
      <p>Bank of GREAT BRITAIN.</p>
    </footer>

</div>