<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="glyphicon glyphicon-th"></span>
      </button>
      <a class="navbar-brand" href="/"><img alt="Bank of GREAT BRITAIN" src="{{ url_for('static', filename='images/imgLogo_min.png') }}" height="27" width="115"/></a>
    </div>

    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a onclick="document.getElementById('login-popup').style.display='block'" href="#">Login</a></li>
      </ul>
    </div>
  </div>
</nav>

<div id="login-popup" class="modal">
  <form class="form modal-content animate" method="post">
    <div>
      <span onclick="document.getElementById('login-popup').style.display='none'" class="close">&times;</span>
      <h1 id="form-login-title">Login</h1>
    </div>
    <div id="form-input-area" class="container-fluid" style="background-color:#f1f1f1">
      <input type="text" class="form-control" name="email" placeholder="Email" value="{{request.form.email}}">
      <input type="password" class="form-control" name="password" placeholder="Password" value="{{request.form.password}}">
    <div style="">
      <label id="form-checkbox"><input type="checkbox" checked="checked"> Remember me</label>
      <input id="form-login-button" class="btn btn-warning" type="submit" value="Login">
    </div>
      <span><a href="/reset-password">Forgotten your password?</a></span>
    </div>
  </form>
</div>

<div id="top_signup" class="text-center">
    <br><br><br><br><br><br><br><br><br><br><br><br><br>
    <a href="signup">SIGN UP FOR FREE</a>
</div>

<div id="text-quote" class="container text-center">
    <p id="text-quote-start">Spread a little joy and stay in control of your finances with a Bank of GREAT BRITAIN credit card. T&Cs apply. Eligibility subject to status, to UK residents aged 18 and over.</p>
</div>

<script src="{{ url_for('static', filename='navbar-script.js') }}"></script>
<script src="{{ url_for('static', filename='index_animation.js') }}"></script>